header{
    position: relative; 
    z-index: 99;
    height: fit-content;
    width: 100%;
    background-color: #F0F0F0;
}

input,select{
    background-color: #F0F0F0;
}

.header-container{
    display: flex;
    justify-content: space-between; 
    margin: 0px 2%;
    position: relative;
   
}
.header-logo-box{

    align-self: center;
}
.header-profile-container{
    display: flex;
    flex-direction: row;
    align-items: center; 
}


.header-profile-container > *{
    border-radius: 1.5em;
    border-width: 0em;
    margin: 1.5em 0.5em;
    align-items: center; 
    
}
.header-profile-container > button{
    border-radius: 50%;
}
.header-search-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
   align-items: center;
    margin: 0em 9em;
    
}

.search-box-container{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    justify-content: space-between;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 1.5em;
    width: 100%;
    height: 2.5em;
    border-color: darkgrey;
}
.search-icon{
    margin: 0em 0.5em;
    position: relative;
    /* padding-top: 0.25em; */
}


.category-box{
    display: flex;
    flex-direction: row;
    margin: 0em 0.5em; 
    border-left: 1px solid; 
    padding: 0em 0.25em;
    border-color: darkgrey;
    height: inherit;
    align-items: center;
}
 
.category-box>*{
    padding: 0em 0.25em;
    border: none;
    outline: none;
    height: 90%;
}

.search-box{
    flex-grow: 100;
}

input{
    width: 100%;
    height: 2.3em;
    border:none;
    margin-left: 0em;
    text-indent: 1em;
    padding-left: 1em;
}

textarea:focus, input:focus{
    outline: none;
    border:none;
}
    /* border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em; */


.search-box{ 
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
}
.reset-img{
    position: absolute;
    height: 13px;
    right: 0;
    width: 32px;
    bottom: 5px;
}
.logo img{
    height: 2.5em;
}
.cart-item-indicator{
    padding-left: 1em;
    
}
/* .cart-item-indicator > div ,  */
.cart-highlighter {
    background: rgb(233, 69, 96);
    border-radius: 50%;
    padding: 0.23%;
    font-size: xx-small;
}
.sticky {
    top: 0;
    position: fixed;
    /* background: rgb(249, 57, 9); */
  }
  
  .sticky + nav {
    padding-top: 78px;
  }