.search_bar_container{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin: 0em 2%;
    padding-top: 2rem;
}
.search-result{
    display: flex;
    flex-direction: column;
}
.grid-button{
    margin-right: 8px;
    background-color: white;
    border: none;
    justify-items: center;
}
.tab-button{
    
    background-color: white;
    border: none;
    justify-items: center;
    justify-content: center;
}
.innersort_table{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.select-sortby{
    background-color: white;
    border-color: #F0F0F0;
}

.viewby-container{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.sortby-container>*{
    margin: 0em 1em;
}